<%- layout('layouts/boilerplate') %>
    <h1 class="text-center">Add Campground</h1>
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" class="form-control" name="campground[title]">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="campground[location]" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Url</label>
                    <input type="text" id="image" name="campground[image]" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="price">Campground price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="0.0" aria-label="price" aria-describedby="basic-addon1" id="price" name="campgropund[price]">
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
                
            </form>
            <a href="/campgrounds">Back to campgrounds</a>
        </div>
    </div>