<%- layout('layouts/boilerplate') %>
<!-- <h1 class="text-muted my-4 border border-success w-auto">Register on <i><u>YelpCamp</u></i></h1> -->
<div class="container d-flex justify-content-center align-items-center">
    <div class="row my-1">
        <div class="col-8 offset-2 col-md-6 offset-md-3 col-xl-6 offset-xl-3">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80"
                    alt="" class="card-img-top d-inline h-30" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>